@model List<Sales.Models.Entities.Product>
@{ 
    ViewData["Title"] = "Product Page";
}

<form asp-action="Create" enctype="multipart/form-data">

    <div class="form-group">

    </div>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>


</form>
