@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1  class="display-4 font-weight-bold">Kütüphane Otomasyon Programı</h1>
    <div>
        <img src="~/img/yanyanakitap.jpg" alt="Alternate Text" />
    </div>
  
</div>
